.Posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.5rem;
    overflow: unset;
}
.singlePost {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}