.ForgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(39, 32, 32);
}

.forgot-password h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 95%;
    padding: 10px;
    border-radius: 1rem;
    border: 1px solid #ced4da;
}


.back-to-login {
    margin-top: 20px;
    text-align: center;
}

/* .back-to-login a {
    color: #007bff;
} */
