.PostShare {
    display: flex;
    gap: 1rem;
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
}


.PostShare>img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.PostShare>div {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}

.PostShare>div>input {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
}

.postOptions {
    display: flex;
    justify-content: space-around;
}

.option {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.option:hover {
    cursor: pointer;
}

.ps-button {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

.previewImages {
    display: flex;
    flex-wrap: wrap;
    /* Allow images to wrap to the next line if there's not enough space */
    gap: 10px;
    /* Adjust as needed to add space between images */
}

.previewImage {
    position: relative;
    /* Ensure the close button aligns properly */
}

.previewImageContainer {
    position: relative;
}

.previewImage img {
    max-width: 100px;
    /* Adjust the width of the images as needed */
    max-height: 100px;
    /* Adjust the height of the images as needed */
    object-fit: cover;
    /* Ensure the aspect ratio is maintained */
    border-radius: 5px;
    /* Add rounded corners to the images */
}

.previewImage UilTimes {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Add background color to the close button */
    border-radius: 50%;
    /* Make the close button circular */
    padding: 5px;
}

.previewImage svg {
    cursor: pointer;
}