.chatWindow {
    display: flex;
    flex-direction: column;
    height: 85vh !important;
    width: 100%;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
}
/* .chatWindow .chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #e0e0e0;
}
.chatWindow .chatFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: solid 1px #e0e0e0;
}
.chatWindow .chatContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    
} */