.actionBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.actionBar button {
    width: 180px;
    font-size: 18px;
    background-color: inherit;
    border: none;
    border-left: 1px solid #e0e0e0;
}
.actionBar button:first-child {
    border-left: none;
}
.actionBar button:hover {
    background-color: #f5f5f5;
}
