.connectionsBoard {
    margin-top: 0.5rem;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.connectionsBoard .ConnectionContent {
    padding: 1rem;
}

.connectionsBoard .ConnectionContent h2 {
    cursor: pointer;
}